<!DOCTYPE html>
<html> 
<head>
  <title> index of /docs </title>
</head>

<body>
  <h1>Index of /docs</h1>
    <table>
      <tr>
        <th colspan="5"><hr></th>
      </tr>
      <TMPL_LOOP NAME=FILE_LIST>
       <tr>
          <td>
            <a href="<TMPL_VAR NAME=href>"><TMPL_VAR NAME=file></a>
          </td>
       </tr>
      </TMPL_LOOP>
    </table>
</body>

